<a href="https://colab.research.google.com/github/idleyui/python-notebook/blob/master/benchmark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from timeit import default_timer as timer
import random

t1 = timer()
with open('test.txt', 'w') as f:
    for i in range(1, 1000000):
        f.write(str(random.random()))
t2 = timer()

list = []
with open('test1.txt', 'w') as f:
    for i in range(1, 1000000):
        list.append(str(random.random()))
    f.write('\n'.join(list))
t3 = timer()

with open('test1.txt', 'w') as f:
    list = [str(random.random()) for i in range(1, 1000000)]
    f.write('\n'.join(list))
t4 = timer()

print(t2 - t1)
print(t3 - t2)
print(t4 - t3)

1.2353038349999963
1.1959731310000024
1.0984876549999996