# Fundamental

## Type

In [246]:
a = 1
isinstance(a, int)

True

### Basic

In [106]:
# basic types: integer, float, string, boolean, none
i = 2
f = .2
s = 'str'
b = True
n = None
print(i,f,s,b,n)

2 0.2 str True None

### Boolean

In [107]:
# boolean: use and or not instead of & | ~
t = True
f = False
print(t and f, t or f, not t)

False True False

### String

#### encoding and decoding

In [54]:
# trans char and its code integer
print(ord('a'), chr(97))
# str to bytes - ascii only, no Chinese etc
s = b'asciionly'
print(s)
# encoding
print('abc'.encode('ascii'), '中文'.encode('utf-8'))
# decoding
print(b'abc'.decode('ascii'),
      b'\xe4\xb8\xad\xe6\x96\x87'.decode('utf-8'))
# ignore some invalid bytes
print(b'\xe4\xb8\xad\xe6'.decode('utf-8', errors='ignore'))
'\u003b'.encode('unicode-escape').decode('utf-8')

97 a
b'asciionly'
b'abc' b'\xe4\xb8\xad\xe6\x96\x87'
abc 中文
中

';'

#### Format

In [37]:
# complement int with space or 0
s = '%2d-%03d' % (3, 1)
# decimal digits
sf = '%.2f' % 3.1415
s1 = 'name: %s, age: %d, salary: %f, encoding: %x'%('Michael', 40, 1e4, 15)
s, sf, s1

(' 3-001', '3.14', 'name: Michael, age: 40, salary: 10000.000000, encoding: f')

In [110]:
# use format() instead
s = 'name: {0}, age: {1}, salary: {2}, encoding: {3}'.format('Michael', 40, 1e4, 15)
s

'name: Michael, age: 40, salary: 10000.0, encoding: 15'

In [111]:
# use r to ban escape
s1 = '\ta'
s2 = r'\ta'
print(s1)
print(s2)

	a
\ta

## Print

In [24]:
# print multi lines
print('''line1
2
3''')

line1
2
3

In [262]:
# print not change line
for i in range(10):
    print(i, end=',')

0,1,2,3,4,5,6,7,8,9,

## Loop

### range

In [112]:
range(10)

range(0, 10)

## Operator

In [13]:
num = 1 if 3 < 2 else 2
num

2

# Function

In [138]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

## Args

### Default Args

In [148]:
def multi(x, y=1):
    return x * y * y
multi(1), multi(1, 2), multi(y=1, x=2)

(1, 4, 2)

In [158]:
def multi(x=1):
    return x * 2
multi()

2

In [ ]:
# this is ok
multi()

In [155]:
def mul(x=[]):
    x.append(1)
    return x
mul()

[1]

In [156]:
# so do not use mutable default value as an argument
mul()

[1, 1]

### Variable Args

In [163]:
def sum(*numbers):
    sum = 0
    for n in numbers:
        sum += n
    return sum
sum(1,2,3)
sum(*[1,2,3])

6

In [178]:
def dic(**dics):
    print(dics['name'], dics['age'])
dic(name='Fraiser', age=45, other=1)

Fraiser 45

In [181]:
def dic(*, name, age):
    print(name, age)
# dic(name='Fraiser', age=45, other=1) this is error
dic(name='Fraiser', age=45)

Fraiser 45

In [189]:
def f2(a, b, c=0, *, d, **kw):
    print(a, b, c, d, kw)
def f1(a, b, c=0, *args, **kw):
    print(a, b, c, args, kw)
f1(1, 2), f1(1,2,3), f1(1,2,3,'a','b'), f1(1,2,3,'a','b',x=99)

1 2 0 () {}
1 2 3 () {}
1 2 3 ('a', 'b') {}
1 2 3 ('a', 'b') {'x': 99}

(None, None, None, None)

In [191]:
def f2(a, b, c=0, *, d, **kw):
    print(a, b, c, d, kw)
def f1(a, b, c=0, *args, **kw):
    print(a, b, c, args, kw)
args = (1,2,3)
kw = {'d':1,'x':3}
f2(1,2,d=99,ext=None), f2(*args, **kw)

1 2 0 99 {'ext': None}
1 2 3 1 {'x': 3}

(None, None)

### Declare type

In [28]:
def add(x:int, y:int) -> int:
    return x + y
add('s','2')

's2'

## High-Order Function

In [276]:
# map
def f(x):
    return x*x

r = map(f, list(range(10)))
list(r)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
# reduce
from functools import reduce
def add(a, b):
    return a + b

def fn(x, y):
    return x*10 + y

reduce(add, [1,2,3]), reduce(fn, [1,2,3])

(6, 123)

In [4]:
# filter
def is_odd(n):
    return n%2==1

list(filter(is_odd, [1,2,3]))

[1, 3]

In [7]:
# sorted
l = [1,3,-2]
sorted(l), sorted(l, key=abs), sorted(l, reverse=True)

([-2, 1, 3], [1, -2, 3], [3, 1, -2])

In [ ]:
# todo return after

# Toolbox

## Time

In [5]:
import time
from timeit import default_timer as timer

### Measure time elapsed
[Measure time elapsed in Python? - stackoverflow](https://stackoverflow.com/questions/7370801/measure-time-elapsed-in-python)

In [9]:
start = time.time()
time.sleep(1)
end = time.time()
end - start

1.0015285015106201

In [6]:
start = timer()
time.sleep(1)
end = timer()
end - start # Time in seconds, e.g. 5.38091952400282

1.0015021907165647

# Collection

## List and Tuple

### Generate & Select & Update

In [245]:
l1 = [1,2,3]
l2 = list(range(20))
# list generator
l3 = [x*x for x in range(10)]
l4 = [x*x for x in range(10) if x %2 == 0]
l5 = [m + n for m in 'ABC' for n in 'xyz']
l1, l2, l3, l4, l5, len(l1)

([1, 2, 3],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 [0, 1, 4, 9, 16, 25, 36, 49, 64, 81],
 [0, 4, 16, 36, 64],
 ['Ax', 'Ay', 'Az', 'Bx', 'By', 'Bz', 'Cx', 'Cy', 'Cz'],
 3)

In [265]:
# generator not create list, just deduce
g = (x*x for x in range(10))
for i in range(3):
    print(next(g), end=',')
print()
for i in g:
    print(i, end=',')
type(g)

0,1,4,
9,16,25,36,49,64,81,

generator

In [272]:
# generator not create list, just deduce
def plus():
    for i in range(10):
        yield i

for i in plus():
    print(i, end=',')
print()
g = plus()
for i in g:
    print(i, end=',')
type(plus()), type(plus)

0,1,2,3,4,5,6,7,8,9,
0,1,2,3,4,5,6,7,8,9,

(generator, function)

In [36]:
# delete & update
l = list(range(1, 10))
# delete by position
print(l)
print(l.pop(), l.pop(2))
# delete by value
l.remove(5)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]
9 3

[1, 2, 4, 6, 7, 8]

In [241]:
# delete & update
l = list(range(10))
l.pop()
l.pop(0)
l
print('after', l.pop(), l.pop(0),l)
l[0] = 0
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
after 9 0 [1, 2, 3, 4, 5, 6, 7, 8]

[0, 2, 3, 4, 5, 6, 7, 8]

In [104]:
# tuple is final
c = (2,1,3)
# , is needed
num_one = (1)
single_c = (1,)
c, num_one, single_c

((2, 1, 3), 1, (1,))

In [224]:
# advanced
l.append('app')
l.insert(0, 4)
l

[4,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 'app']

### Cut

In [219]:
# visit
l[0], l[-1], l[0:2], l[-3:-1]

(0, 19, [0, 1], [17, 18])

In [223]:
# basic
l = list(range(20))
l[:], l[:10], l[:10:3], l[::4]

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 3, 6, 9],
 [0, 4, 8, 12, 16])

### Loop

In [226]:
l = [1,2]
for i, item in enumerate(l):
    print(i, item)

0 1
1 2

## Dict and Set

In [116]:
d = {'a':1, 'b':2, 'c':3}
d['a']

1

In [120]:
# add & delete & update
d['a']=0
d.pop('a')
d['d']=4
d

{'b': 2, 'c': 3, 'd': 4}

In [125]:
# check
print(d.get('a'))
'a' in d, 'b' in d, d.get('a', -1)

None

(False, True, -1)

In [137]:
# set
s1 = set([1,1,2,3,])
s2 = set([2,3,4])
print(s1, s2)
print(s1 & s2)
print(s1 | s2)
print(s1 ^ s2)

{1, 2, 3} {2, 3, 4}
{2, 3}
{1, 2, 3, 4}
{1, 4}

In [133]:
# set
s.remove(1)
s

{2, 3}

loop

In [7]:
d = {'x': 1, 'y': 2, 'z': 3}
for key, value in d.items():
    print(key, value)

x 1
y 2
z 3

count list to dic

In [5]:
from collections import Counter
l = [1, 2, 1, 2, 3, 3, 3]
print(Counter(l))
print(Counter(l).most_common(2))

Counter({3: 3, 1: 2, 2: 2})
[(3, 3), (1, 2)]

remove duplicate item from list

In [7]:
print(l)
print(list(set(l)))

[1, 2, 1, 2, 3, 3, 3]
[1, 2, 3]

In [8]:
vocab_list = ['a', 'b']
mp = {item: i for i, item in enumerate(vocab_list)}
mp

{'a': 0, 'b': 1}

In [9]:
[0]*19

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [19]:
l = [str(a) + '*' + str(b+1) for a in range(10) for b in range(a)]
l
[print(i) for i in range(10) for j in range(i)]

SyntaxError: invalid syntax (<ipython-input-19-6a9495f19644>, line 3)

In [55]:
[i for i in range(10) for j in range(i)]
for i in range(10):
    for j in range(i):
        print(in)

SyntaxError: invalid syntax (<ipython-input-55-74c8c94bbf8b>, line 4)

In [57]:
list(range(2,9))

[2, 3, 4, 5, 6, 7, 8]

In [ ]:
start = timer()
d = np.loadtxt('/root/fromwin/n16.MNIST.train.csv', delimiter=',')
end = timer()
end - start, d # Time in seconds, e.g. 5.38091952400282

In [2]:
import numpy as np

# Command Line

In [1]:
import argparse
parser = argparse.ArgumentParser(description="progrom description")
parser.add_argument('key', help="Redis key where items are stored")
parser.add_argument('--host')
arser.add_argument('--port')
parser.add_argument('--timeout', type=int, default=5)
parser.add_argument('--limit', type=int, default=0)
parser.add_argument('--progress_every', type=int, default=100)
parser.add_argument('-v', '--verbose', action='store_true')
args = parser.parse_args()

key = args.key
host = args.host
port = args.port
timeout = args.timeout
limit = args.limit
progress-every = args.progress_every
verbose = args.verbose

SyntaxError: can't assign to operator (<ipython-input-1-ccf3b2613e52>, line 17)

# File

In [1]:
import pickle

In [14]:
arr = [1, 2, 3]
with open('data/binary_list', 'wb') as f:
    pickle.dump(arr, f)
    byte_arr = pickle.dumps(arr)
byte_arr

b'\x80\x03]q\x00(K\x01K\x02K\x03e.'

In [11]:
with open('data/binary_list', 'rb') as f:
    arr = pickle.load(f)
with open('data/binary_list', 'rb') as f:
    byte_arr = f.read()
arr, pickle.loads(byte_arr)

([1, 2, 3], [1, 2, 3])